<div class="category-container">
    <p style="color: green"><%= notice %></p>

    <h1 class="title">Categories</h1>

    <ul id="categories">
    <% @categories.each do |category| %>
        <% if can? :destroy, category %>
        <li class="category-list">
        <%= render category %>
        <div class="path-links">
            <%= link_to "Edit", edit_category_path(category), class:"btn btn-primary"  %>
            <%= button_to "Destroy", category_path(category.id), method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{category.name}"}, class:"btn btn-primary"%>
        </div>
        </li>
        <% end%>
    <% end %>
    </ul>

    <div class="new-form">
    <%= link_to "Add New category", new_category_path, class:"btn btn-primary" %>
    </div>
</div>